* {
font-family: "Courier New";
background-color: #ccffff;
}
.navbar {
list-style-type: none;
text-align: center;
margin: 0;
padding: 0px;
display: block;
overflow: hidden;
border: solid;
background-color: white;
}
.navbar li a {
float: left;
text-align: center;
padding: 30px 30px;
font-size: 20px;
background-color: white;
text-decoration: none;
}

.navbar li a:hover {
font-style: italic;
}

.div {
border: solid;
}

.div a {
text-decoration: none;
}
